* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: slateblue;
}
.conteneur {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.contenant {
    margin-left: 50px;
}
.titre {
    margin-left: 10px;
    color: white;
    text-align: center;
}
.post1 {
    width: 250px;
    height: 250px;
    background-color: red;
    border: 1px solid transparent;
    border-radius:10px;
    margin-left: 20px;
}
.post2 {
    width: 250px;
    height: 250px;
    background-color: blue;
    border: 1px solid transparent;
    border-radius:10px;
    margin-top: 20px;
    margin-left: 20px;
}
.post3 {
    width: 250px;
    height: 250px;
    background-color: yellow;
    border: 1px solid transparent;
    border-radius:10px;
    margin-top: 20px;
    margin-left: 20px;
}
.menu {
    position:absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}